<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="about.component.css" />
<body>
  <div class="container-fluid banner">

    <app-nav-client></app-nav-client>
    <h1> Bautique Electroménagers BARNAOUI SHOP</h1>
    <img id="imgAbout" src="../../../assets/image/about2.PNG"/>
    <div id="horaire">
      <h2>horaire</h2>
      <p> Chaque jour de <b> 09h30 à 19h00</b>.</p>
    </div>
    <div id="contact">
        <h2>Nos contacts</h2>
        <h3><i class="fa fa-phone"></i>  05 65 78 67 89</h3>
        <h3><img id="imgLocal" src="../../../assets/image/localisation.png"/>  hay limone casa blanca</h3>
        <h3><i class="fa fa-envelope"></i>  barnaoui@gmail.com</h3>
    </div>

</div>
</body>
